.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.loginbackGround{
  
  background-image: radial-gradient(#d5f8d7 20%, transparent 20%),
  radial-gradient(#d1c6d3 20%, transparent 20%);
  background-color: #ffd5d5;
  background-position: 0 0, 10px 310px;
  background-size: 100px 100px;
  height: 200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);

}
.DashboardCss{
  
  background-image: radial-gradient(#fdd3d3 20%, transparent 20%),
  radial-gradient(#d4e4b0 20%, transparent 20%);
  background-color: #dfd7f5;
  background-position: 0 0, 10px 310px;
  background-size: 100px 100px;
  height: 200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
